{% extends 'base1.html' %}
{% load staticfiles %}

<title>TaskManager</title>

{% block one %}
<body>
    <h1 id="detailhead">Log In</h1>
    <form class="login_form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="Log In">
    </form>
    <p>Don't have an account? <a href="{% url 'users:signup' %}">Sign Up Here.</p>
</body>
{% endblock %}